<body class="d-flex flex-column min-vh-100">
    <div class="container flex-grow-1">
        <!-- Your content goes here -->
    </div>
    <footer class="footer mt-auto">
        <div class="f-info">
            <div class="f-info-socials">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-instagram-square"></i>
                <i class="fab fa-linkedin"></i>
            </div>
            <div>&copy; Wanderlust Private Limited</div>
            <div class="f-info-links">
                <a href="/privacy">Privacy</a>
                <a href="/terms">Terms</a>
            </div>
        </div>
    </footer>