<% layout("/layouts/boilerPlate") -%>
<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="alert alert-danger text-center" role="alert">
          <h4 class="alert-heading">Error!</h4>
          <p><%= err.message %></p>
        </div>
      </div>
    </div>
  </div>
</body>

